.item {
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 25%;
  background-position-y: center;
}

.noinput {
  background-color: #edeff1;
  border-radius: 4px;
  color: #337ab7;
  :hover {
    text-decoration: none;
  }
}

@media (min-width: 619px) {
  .card-columns {
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 3;
  }
}
